# Maximally-separated cities

* Source: https://towardsdatascience.com/twenty-five-sql-practice-exercises-5fc791e24082
* Source: https://www.hackerrank.com/challenges/weather-observation-station-19/problem

Write a query to return the furthest-separated pair of cities for each state, and the corresponding distance (in degrees, rounded to 2 decimal places) between those two cities.

In [1]:
%run Question.ipynb

 * postgresql://fknight:***@localhost/postgres
Done.
Done.
9 rows affected.
9 rows affected.

# Part A

Write a query that compares every city to every other city, with no duplicates or reversals.

### Example answer

In [9]:
%%sql

SELECT
    s1.state, 
    s1.city AS city1, 
    s2.city AS city2,
    s1.latitude AS city1_lat, 
    s1.longitude AS city1_long, 
    s2.latitude AS city2_lat, 
    s2.longitude AS city2_long
FROM stations s1
JOIN stations s2
    ON s1.state = s2.state
    AND s1.city < s2.city

 * postgresql://fknight:***@localhost/postgres
16 rows affected.

[('North Carolina', 'Asheville', 'Elizabeth City', Decimal('35.6'), Decimal('82.6'), Decimal('36.3'), Decimal('76.3')),
 ('North Carolina', 'Asheville', 'Davidson', Decimal('35.6'), Decimal('82.6'), Decimal('35.5'), Decimal('80.8')),
 ('North Carolina', 'Asheville', 'Chapel Hill', Decimal('35.6'), Decimal('82.6'), Decimal('35.9'), Decimal('79.1')),
 ('North Carolina', 'Asheville', 'Burlington', Decimal('35.6'), Decimal('82.6'), Decimal('36.1'), Decimal('79.4')),
 ('North Carolina', 'Burlington', 'Elizabeth City', Decimal('36.1'), Decimal('79.4'), Decimal('36.3'), Decimal('76.3')),
 ('North Carolina', 'Burlington', 'Davidson', Decimal('36.1'), Decimal('79.4'), Decimal('35.5'), Decimal('80.8')),
 ('North Carolina', 'Burlington', 'Chapel Hill', Decimal('36.1'), Decimal('79.4'), Decimal('35.9'), Decimal('79.1')),
 ('North Carolina', 'Chapel Hill', 'Elizabeth City', Decimal('35.9'), Decimal('79.1'), Decimal('36.3'), Decimal('76.3')),
 ('North Carolina', 'Chapel Hill', 'Davidson', Decimal('35.9'), Decimal('79.1'), Decimal('35.5'), Decimal('80.8')),
 ('North Carolina', 'Davidson', 'Elizabeth City', Decimal('35.5'), Decimal('80.8'), Decimal('36.3'), Decimal('76.3')),
 ('North Dakota', 'Fargo', 'Inkster', Decimal('46.9'), Decimal('96.8'), Decimal('48.2'), Decimal('97.6')),
 ('North Dakota', 'Fargo', 'Hettinger', Decimal('46.9'), Decimal('96.8'), Decimal('46.0'), Decimal('102.6')),
 ('North Dakota', 'Fargo', 'Grand Forks', Decimal('46.9'), Decimal('96.8'), Decimal('47.9'), Decimal('97.0')),
 ('North Dakota', 'Grand Forks', 'Inkster', Decimal('47.9'), Decimal('97.0'), Decimal('48.2'), Decimal('97.6')),
 ('North Dakota', 'Grand Forks', 'Hettinger', Decimal('47.9'), Decimal('97.0'), Decimal('46.0'), Decimal('102.6')),
 ('North Dakota', 'Hettinger', 'Inkster', Decimal('46.0'), Decimal('102.6'), Decimal('48.2'), Decimal('97.6'))]

# Part B

Using the subquery from Part A, compute the distance between each pair of cities.

```sql
WITH city_pairs (
    SELECT
        s1.state, 
        s1.city AS city1, 
        s2.city AS city2,
        s1.latitude AS city1_lat, 
        s1.longitude AS city1_long, 
        s2.latitude AS city2_lat, 
        s2.longitude AS city2_long
    FROM stations s1
    JOIN stations s2
        ON s1.state = s2.state
        AND s1.city < s2.city
)
```

### Example answer

In [11]:
%%sql

WITH city_pairs AS (
    SELECT
        s1.state, 
        s1.city AS city1, 
        s2.city AS city2,
        s1.latitude AS city1_lat, 
        s1.longitude AS city1_long, 
        s2.latitude AS city2_lat, 
        s2.longitude AS city2_long
    FROM stations s1
    JOIN stations s2
        ON s1.state = s2.state
        AND s1.city < s2.city
)

SELECT 
    *,
    round( ((city1_lat - city2_lat)^2 + 
            (city1_long - city2_long)^2) ^ 0.5, 2) AS dist
FROM city_pairs

 * postgresql://fknight:***@localhost/postgres
16 rows affected.

[('North Carolina', 'Asheville', 'Elizabeth City', Decimal('35.6'), Decimal('82.6'), Decimal('36.3'), Decimal('76.3'), Decimal('6.34')),
 ('North Carolina', 'Asheville', 'Davidson', Decimal('35.6'), Decimal('82.6'), Decimal('35.5'), Decimal('80.8'), Decimal('1.80')),
 ('North Carolina', 'Asheville', 'Chapel Hill', Decimal('35.6'), Decimal('82.6'), Decimal('35.9'), Decimal('79.1'), Decimal('3.51')),
 ('North Carolina', 'Asheville', 'Burlington', Decimal('35.6'), Decimal('82.6'), Decimal('36.1'), Decimal('79.4'), Decimal('3.24')),
 ('North Carolina', 'Burlington', 'Elizabeth City', Decimal('36.1'), Decimal('79.4'), Decimal('36.3'), Decimal('76.3'), Decimal('3.11')),
 ('North Carolina', 'Burlington', 'Davidson', Decimal('36.1'), Decimal('79.4'), Decimal('35.5'), Decimal('80.8'), Decimal('1.52')),
 ('North Carolina', 'Burlington', 'Chapel Hill', Decimal('36.1'), Decimal('79.4'), Decimal('35.9'), Decimal('79.1'), Decimal('0.36')),
 ('North Carolina', 'Chapel Hill', 'Elizabeth City', Decimal('35.9'), Decimal('79.1'), Decimal('36.3'), Decimal('76.3'), Decimal('2.83')),
 ('North Carolina', 'Chapel Hill', 'Davidson', Decimal('35.9'), Decimal('79.1'), Decimal('35.5'), Decimal('80.8'), Decimal('1.75')),
 ('North Carolina', 'Davidson', 'Elizabeth City', Decimal('35.5'), Decimal('80.8'), Decimal('36.3'), Decimal('76.3'), Decimal('4.57')),
 ('North Dakota', 'Fargo', 'Inkster', Decimal('46.9'), Decimal('96.8'), Decimal('48.2'), Decimal('97.6'), Decimal('1.53')),
 ('North Dakota', 'Fargo', 'Hettinger', Decimal('46.9'), Decimal('96.8'), Decimal('46.0'), Decimal('102.6'), Decimal('5.87')),
 ('North Dakota', 'Fargo', 'Grand Forks', Decimal('46.9'), Decimal('96.8'), Decimal('47.9'), Decimal('97.0'), Decimal('1.02')),
 ('North Dakota', 'Grand Forks', 'Inkster', Decimal('47.9'), Decimal('97.0'), Decimal('48.2'), Decimal('97.6'), Decimal('0.67')),
 ('North Dakota', 'Grand Forks', 'Hettinger', Decimal('47.9'), Decimal('97.0'), Decimal('46.0'), Decimal('102.6'), Decimal('5.91')),
 ('North Dakota', 'Hettinger', 'Inkster', Decimal('46.0'), Decimal('102.6'), Decimal('48.2'), Decimal('97.6'), Decimal('5.46'))]

# Part C

Using the subqueries from Parts A & B, sort the results by the computed distance.

```sql
WITH city_pairs AS (
    SELECT
        s1.state, 
        s1.city AS city1, 
        s2.city AS city2,
        s1.latitude AS city1_lat, 
        s1.longitude AS city1_long, 
        s2.latitude AS city2_lat, 
        s2.longitude AS city2_long
    FROM stations s1
    JOIN stations s2
        ON s1.state = s2.state
        AND s1.city < s2.city
)

distances AS (
    SELECT 
        *,
        round( ((city1_lat - city2_lat)^2 + 
                (city1_long - city2_long)^2) ^ 0.5, 2) AS dist
    FROM city_pairs
)
```

### Example answer

In [13]:
%%sql

WITH city_pairs AS (
    SELECT 
        s1.state, 
        s1.city AS city1, 
        s2.city AS city2, 
        s1.latitude AS city1_lat, 
        s1.longitude AS city1_long, 
        s2.latitude AS city2_lat, 
        s2.longitude AS city2_long
    FROM stations s1
    JOIN stations s2
    ON s1.state = s2.state
    AND s1.city < s2.city
),

-- add a column displaying rounded Euclidean distance

distances AS ( 
    SELECT 
        *,
        round( ((city1_lat - city2_lat)^2 + (city1_long - city2_long)^2) ^ 0.5, 2) AS dist
    FROM city_pairs
)

-- rank each city pair by descending distance for each state

SELECT
    *, 
    rank() OVER (PARTITION BY state ORDER BY dist DESC) AS dist_rank
FROM distances

 * postgresql://fknight:***@localhost/postgres
16 rows affected.

[('North Carolina', 'Asheville', 'Elizabeth City', Decimal('35.6'), Decimal('82.6'), Decimal('36.3'), Decimal('76.3'), Decimal('6.34'), 1),
 ('North Carolina', 'Davidson', 'Elizabeth City', Decimal('35.5'), Decimal('80.8'), Decimal('36.3'), Decimal('76.3'), Decimal('4.57'), 2),
 ('North Carolina', 'Asheville', 'Chapel Hill', Decimal('35.6'), Decimal('82.6'), Decimal('35.9'), Decimal('79.1'), Decimal('3.51'), 3),
 ('North Carolina', 'Asheville', 'Burlington', Decimal('35.6'), Decimal('82.6'), Decimal('36.1'), Decimal('79.4'), Decimal('3.24'), 4),
 ('North Carolina', 'Burlington', 'Elizabeth City', Decimal('36.1'), Decimal('79.4'), Decimal('36.3'), Decimal('76.3'), Decimal('3.11'), 5),
 ('North Carolina', 'Chapel Hill', 'Elizabeth City', Decimal('35.9'), Decimal('79.1'), Decimal('36.3'), Decimal('76.3'), Decimal('2.83'), 6),
 ('North Carolina', 'Asheville', 'Davidson', Decimal('35.6'), Decimal('82.6'), Decimal('35.5'), Decimal('80.8'), Decimal('1.80'), 7),
 ('North Carolina', 'Chapel Hill', 'Davidson', Decimal('35.9'), Decimal('79.1'), Decimal('35.5'), Decimal('80.8'), Decimal('1.75'), 8),
 ('North Carolina', 'Burlington', 'Davidson', Decimal('36.1'), Decimal('79.4'), Decimal('35.5'), Decimal('80.8'), Decimal('1.52'), 9),
 ('North Carolina', 'Burlington', 'Chapel Hill', Decimal('36.1'), Decimal('79.4'), Decimal('35.9'), Decimal('79.1'), Decimal('0.36'), 10),
 ('North Dakota', 'Grand Forks', 'Hettinger', Decimal('47.9'), Decimal('97.0'), Decimal('46.0'), Decimal('102.6'), Decimal('5.91'), 1),
 ('North Dakota', 'Fargo', 'Hettinger', Decimal('46.9'), Decimal('96.8'), Decimal('46.0'), Decimal('102.6'), Decimal('5.87'), 2),
 ('North Dakota', 'Hettinger', 'Inkster', Decimal('46.0'), Decimal('102.6'), Decimal('48.2'), Decimal('97.6'), Decimal('5.46'), 3),
 ('North Dakota', 'Fargo', 'Inkster', Decimal('46.9'), Decimal('96.8'), Decimal('48.2'), Decimal('97.6'), Decimal('1.53'), 4),
 ('North Dakota', 'Fargo', 'Grand Forks', Decimal('46.9'), Decimal('96.8'), Decimal('47.9'), Decimal('97.0'), Decimal('1.02'), 5),
 ('North Dakota', 'Grand Forks', 'Inkster', Decimal('47.9'), Decimal('97.0'), Decimal('48.2'), Decimal('97.6'), Decimal('0.67'), 6)]

# Part D

Using the subqueries from Parts A, B, & C, solve the original problem.

```sql
WITH city_pairs AS (
    SELECT 
        s1.state, 
        s1.city AS city1, 
        s2.city AS city2,
        s1.latitude AS city1_lat, 
        s1.longitude AS city1_long, 
        s2.latitude AS city2_lat, 
        s2.longitude AS city2_long
    FROM stations s1
    JOIN stations s2
    ON s1.state = s2.state
    AND s1.city < s2.city
),

distances AS ( 
    SELECT *,
            round( ((city1_lat - city2_lat)^2 + 
                    (city1_long - city2_long)^2) ^ 0.5, 2) 
                AS dist
    FROM city_pairs
),

dist_ranks AS (
    SELECT *, 
            rank() 
            OVER (PARTITION BY state ORDER BY dist DESC) 
            AS dist_rank
    FROM distances
)
```

## The full solution is given below

In [2]:
%%sql

-- self-join on matching states and city < city 
-- (avoids identical and double-counted city pairs), 
-- pulling state, city pair, and latitude/longitude 
-- coordinates for each city

WITH city_pairs AS (
    SELECT 
        s1.state, 
        s1.city AS city1, 
        s2.city AS city2,
        s1.latitude AS city1_lat, 
        s1.longitude AS city1_long, 
        s2.latitude AS city2_lat, 
        s2.longitude AS city2_long
    FROM stations s1
    JOIN stations s2
    ON s1.state = s2.state
    AND s1.city < s2.city
),

-- add a column displaying rounded Euclidean distance

distances AS ( 
    SELECT *,
            round( ((city1_lat - city2_lat)^2 + (city1_long - city2_long)^2) ^ 0.5, 2) AS dist
    FROM city_pairs
),

-- rank each city pair by descending distance for each state

dist_ranks AS (
    SELECT *, 
            rank() OVER (PARTITION BY state ORDER BY dist DESC) AS dist_rank
    FROM distances
)

-- return the city pair with maximium separation

SELECT state, city1, city2, dist 
FROM dist_ranks
WHERE dist_rank = 1

 * postgresql://fknight:***@localhost/postgres
2 rows affected.

[('North Carolina', 'Asheville', 'Elizabeth City', Decimal('6.34')),
 ('North Dakota', 'Grand Forks', 'Hettinger', Decimal('5.91'))]